* {
      text-decoration: none;
      list-style: none;
      margin: 0;
      padding: 0;
}

body {
      font-family: 'Lato', 'Open Sans', sans-serif;
      background-color: #E5E5E5;
}

.promo-header {
      background-color: #222222;

}

.header-wrp {
      display: flex;
      justify-content: space-between;
      height: 75px;
}

.center {
      max-width: 1142px;
      width: 100%;
      margin: 0 auto;
}

.left-header-item {
      display: flex;
      justify-content: start;
      align-items: center;
}

.right-header-item {
      display: flex;
      justify-content: flex-end;
      align-items: center;
}

.header-logo-btn {
      background-image: url('../img/header-logo.png');
      width: 44px;
      height: 38px;
}

.search-icon-form {
      width: 26px;
      min-height: 26px;
      margin: 0 0 0 30%;
      position: relative;
}

.search-icon-form:hover svg {
      fill: orange;
}

.search-icon-form__input {
      width: 20px;
      min-height: 20px;
      padding: 5px;
      box-sizing: border-box;
      background-color: transparent;
      border: none;
      position: absolute;
      top: -1px;
      left: 30px;
      color: #fff;
      font-size: 16px;
      font-family: Arial;
      text-transform: capitalize;
}

.search-icon-form__input:focus {
      width: 180px;
      min-height: 20px;
      transition: width 1s ease;
      border: 2px solid #fff;
}

.search-icon-form__label {
      display: block;
      height: 26px;
      width: 26px;
}

.search-icon-form__label:active .search-icon-form__svg {
      fill: green;
}

.search-icon-form__svg {
      width: 100%;
      height: 100%;
      fill: #E8E8E8;
}

.search-icon-form__input {
      width: 20px;
      min-height: 20px;
      padding: 5px;
      outline: none;
      box-sizing: border-box;
      background-color: transparent;
      border: none;
      position: absolute;
      /* top: 40px;
      left: -119px; */
      color: #000000;
      font-size: 16px;
      font-family: Arial;
      text-transform: capitalize;
}

.search-icon-form__input:focus {
      width: 180px;
      transition: width 1s ease;
      border: 2px solid #fff;
}

.search-icon-form__input:focus~.search-icon-form__label>.search-icon-form__svg {
      fill: aqua;
}

.menu-svg {
      height: 23px;
      width: 32px;
      fill: #E8E8E8;
}

.account-svg {
      height: 29px;
      width: 29px;
      fill: #E8E8E8;
      margin-left: 25px;
}

.cadr-svg {
      margin-left: 42px;
      height: 29px;
      width: 31px;
      fill: #E8E8E8;
}

.menu-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 32px;
      height: 32px;
}

.menu-btn:hover span,
.menu-btn:hover span::before,
.menu-btn:hover span::after {
      background-color: orange;
}

.menu-btn:active span,
.menu-btn:active span::before,
.menu-btn:active span::after {
      background-color: red;
}

.menu-btn span {
      display: block;
      width: 100%;
      height: 3px;
      background-color: #fff;
      position: relative;
}

.menu-btn span::before,
.menu-btn span::after {
      content: "";
      display: block;
      width: 100%;
      height: 3px;
      background-color: #fff;
      position: absolute;
      top: -10px;
      left: 0;
}

.menu-btn span::after {
      top: 10px;
}

#menu-switch {
      display: none;
}

#menu-switch:checked~.header-menu {
      display: block;
}

#menu-switch:checked~.page-header-banner {
      border: 8px solid red;
}

.header-menu {
      display: none;
      width: 100%;
      max-width: 232px;
      min-height: 764px;
      /* значение в свойстве min-height удобно задать через переменную равную высоте второго блока */
      padding: 16px 33px;
      box-sizing: border-box;
      background-color: #fff;
      position: absolute;
      top: 75px;
      /* значение в свойстве top удобно задать через переменную равную высоте первого блока */
      right: 0;
      z-index: 20;
}

.menu-list-close-btn {
      display: block;
      width: 12px;
      height: 12px;
      margin: 0;
      padding: 0;
      position: relative;
      top: 0;
      left: 170px;
}

.menu-list-close-btn::before,
.menu-list-close-btn::after {
      content: "";
      display: block;
      width: 18px;
      height: 2px;
      background: #6F6E6E;
      border-radius: 10px;
      position: absolute;
      top: 5px;
      left: -3px;
      transform: rotate(45deg);
}

.menu-list-close-btn::after {
      transform: rotate(-45deg)
}

.menu-list-close-btn:hover::before,
.menu-list-close-btn:hover::after {
      background: #B7B6B6;
}

.menu-list-close-btn:active::before,
.menu-list-close-btn:active::after {
      background: #535353;
}

.menu-list-title {
      display: block;
      margin: 9px 0 24px 0;
      font-weight: bold;
      color: #000000;
      text-transform: uppercase;
}

.header-menu>a, .right-header-item>a {
      font-style: normal;
      font-size: 14px;
      line-height: 17px;
      font-weight: normal;
}

.menu-list {
      list-style: none;
}

.menu-list>a {
      display: block;
      margin: 0 0 11px 0;
      color: #F16D7F;
      text-transform: uppercase;
      text-decoration: none;
}

.menu-list:hover>a {
      color: #9889D7;
}

.menu-list:active>a {
      color: #9D2334;
}

.menu-list-item {
      padding: 0 0 0 21.5px;
      box-sizing: border-box;
      list-style: none;
}

.menu-list-subtittle {
      list-style: none;
}

.menu-list-subtittle>a {
      display: block;
      width: 100%;
      height: 100%;
      margin: 0 0 11px 0;
      color: #6F6E6E;
}

.menu-list-subtittle a {
      text-decoration: none;
}

.menu-list-subtittle:hover a {
      text-decoration: underline;
}

.menu-list-subtittle:active a {
      text-decoration: none;
}

/* PROMO-CONTENT */
.promo-content {
      background-color: #F1E4E6;
      display: flex;
      align-items: center;
      justify-content: center;
}

.promo-content-image {
      background-image: url('../img/promo-content-img.png');
      width: 800px;
      height: 764px;
      position: relative;
}

.promo-content-item {
      min-height: 116px;
}

.promo-tittle {
      max-width: 377px;
      width: 100%;
      text-transform: uppercase;
      font-style: normal;
      font-weight: 900;
      font-size: 48px;
      line-height: 58px;
      color: #000000;
      position: relative;
}

.promo-tittle::before {
      content: "";
      display: block;
      width: 12px;
      height: 92px;
      background-color: #F16D7F;
      position: absolute;
      left: -27px;
      top: -1px;
}

.promo-text {
      font-weight: 700;
      font-size: 32px;
      line-height: 38.4px;
      display: block;
}

.promo-text span {
      color: #F16D7F;
}

.promo-decor-wrp {
      border-left: #F16D7F;
      height: 92px;
      width: 12px;
      background-color: #F16D7F;
      box-sizing: border-box;
      left: 0;
      right: 0;
}



/* PROMO-CONTENT-END */

/* OFFER */
.offer {
      padding: 65px 0 96px 0;
      display: grid;
      grid-template-columns: repeat(3, 360px);
      gap: 30px;
      justify-content: center;
}

.card-offer {
      height: 260px;
      width: 360px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      background-color: rgba(33, 22, 22, 0.7);
      background-blend-mode: darken;
}

.offer-bottom-cadr {
      height: 180px;
      grid-column: 3 span;
      width: 100%;
}

.offer>.card-offer:nth-child(1) {
      background-image: url('../img/offer-cnt1.jpg');
}

.offer>.card-offer:nth-child(2) {
      background-image: url('../img/offer-cnt2.jpg');
}

.offer>.card-offer:nth-child(3) {
      background-image: url('../img/offer-cnt3.jpg');
}

.offer>.card-offer:nth-child(4) {
      background-image: url('../img/offer-cnt4.jpg');
}

.card-offer-tittle {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      color: #FFFFFF;
}

.card-offer-partition {
      font-style: normal;
      font-size: 24px;
      font-weight: 700;
      line-height: 29px;
      color: #F16D7F;
}


/* OFFER END */
/* PRODUCTS */
.products {
      padding: 0 0 60px 0;
}

.products-tittle {
      font-style: normal;
      font-weight: 400;
      font-size: 30px;
      line-height: 36px;
      color: #222222;
      text-align: center;
      margin: 0 0 6px 0;
}

.products-text {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #9F9F9F;
      text-align: center;
      margin: 0 0 48px 0;
}

.products-list {
      display: grid;
      grid-template-columns: repeat(3, 360px);
      gap: 30px;
      justify-content: center;
}

.products-list-item {
      height: 582px;
      width: 360px;
      background: #F8F8F8;
}

.products-list-item:hover img {
      background: linear-gradient(0deg, rgba(58, 56, 56, 0.86) -41.9%, #0D1422 115.68%);
      opacity: 0.1;
      background: rgba(58, 56, 56, 0.86);

}

.products-list-item:hover .products-list-item>img:before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background: rgba(58, 56, 56, 0.86);
      position: absolute;
      top: 0;
      left: 0;
}

.products-list-item:hover .products-item-btn {
      display: flex;
}

.products-list-item-tittle {
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 16px;
      color: #000000;
      margin: 24px 0 0 18px;
}

.products-list-item-desc {
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 17px;
      color: #5D5D5D;
      margin: 12px 0 0 16px;
}

.products-list-item-price {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #F16D7F;
      margin: 18px 0 0 18px;
}

.products-item-btn {
      display: none;
      justify-content: center;
      align-items: center;
      width: 160px;
      padding: 10px;
      box-sizing: border-box;
      border: 1px solid #FFFFFF;
      background: transparent;
      text-align: center;
      font-size: 14px;
      line-height: 17px;
      color: #FFFFFF;
      position: absolute;
      top: 30%;
      left: calc(50% - 80px);
}

.products-item-btn svg {
      fill: #fff;
      margin: 0 11px 0 0;
}

.products-show-all-btn {
      height: 48px;
      width: 212px;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #F26376;
      background-color: #E5E5E5;
      border: 1px solid #FF6A6A;
      margin: 48px auto 0 auto;
      display: block;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
      .promo-content-image {
            height: 368px;
            width: 386px;
            box-sizing: ;
            background-repeat: no-repeat;
            background-size: contain;
      }

      .promo-text-decor {
            font-size: 44px;
      }

      .promo-content {
            gap: 39px;
      }

      .promo-content-text {
            font-size: 24px;
      }

      .promo-tittle {
            font-size: 44px;
            line-height: 53px;
      }

      .promo-text {
            font-size: 24px;
            line-height: 29px;
      }

      .offer {
            grid-template-columns: repeat(3, 232px);
            gap: 20px;
            max-width: 735px;
            margin: auto;
            padding-bottom: 110px;
      }

      .card-offer {
            /* max-width: 232px; */
            width: 100%;
            background-position: center;
      }

      .offer-bottom-cadr {
            grid-column: 3 span;
      }

      .products-tittle {
            margin: 0 0 3px 0;
      }

      .products-text {
            margin: 0 0 73px 0;
      }

      .products-list {
            grid-template-columns: repeat(2, 360px);
            gap: 16px;
      }

      .products-list-item-tittle {
            margin: 25px 0 0 18px;
      }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
      .header-wrp {
            height: 74px;
      }

      .right-header-item a:nth-child(2), .right-header-item a:nth-child(3) {
            /* visibility: hidden; */
            display: none;
      }

      .menu-btn {
            margin-right: 16px;
      }

      .promo-content {
            height: 363px;
            justify-content: center;
      }

      .promo-content-image {
            display: none;
      }

      .promo-content-item {
            max-width: 263px;
            min-height: 66px;
      }

      .promo-tittle {
            font-size: 38px;
            line-height: 46px;
      }

      .promo-text {
            font-size: 20px;
            line-height: 24px;
      }

      .promo-tittle::before {
            height: 61px;
            top: 6px;
      }

      .offer {
            padding: 64px 0px 64px 0px;
            display: flex;
            flex-direction: column;
      }

      .card-offer {
            width: calc(100% - 32px);
            margin: 0 auto;
      }

      .offer>.card-offer {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            box-sizing: border-box;
      }

      .products {
            padding: 0 0 85.5px 0;
      }

      .products-tittle {
            margin: 0 0 3.3px 0;
      }

      .products-text {
            margin: 0 0 64.7px 0;
      }

      .products-list {
            display: flex;
            flex-direction: column;
            gap: 15.62px;
      }

      .products-list-item {
            width: calc(100% - 16px);
            min-height: 579px;
            margin: 0 auto;

      }

      .products-list-item img {
            width: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            box-sizing: border-box;
      }

      .products-list-item-desc {
            max-width: 313.87px;
      }

      .products-show-all-btn {
            margin: 41px auto 0 auto;
      }
}